@charset "UTF-8";


@media screen and (min-width: 100px) and (max-width: 768px) {

    h3 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    h1, .title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .imgDesktop {
        display: none;
    }

    .imgMobile {
        display: block;
        max-width: 90vw;
    }

    header, section, footer {
        padding: 4rem 1rem;
    }

    header {
        text-align: flex-start;
        background-image: url(../images/mobile/HeaderBackground.jpg);
    }

    #section-1, #section-2, #section-3, .box-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .box-button, .btn-white, .btn-black {
        width: 100%;
    }

    /*======================= TEXT ======================*/

    .box-text,
    .box-text-title {
        text-align: start;
    }

}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    h3 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    h1, .title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .imgDesktop {
        display: none;
    }

    .imgMobile {
        display: block;
        width: 70vw;
    }

    header, section, footer {
        padding: 4rem;
    }

    header {
        text-align: flex-start;
        background-image: url(../images/mobile/HeaderBackground.jpg);
    }

    #section-1, #section-2, #section-3, .box-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .box-button, .btn-white, .btn-black {
        width: 85%;
    }

    /*======================= TEXT ======================*/

    .box-text,
    .box-text-title {
        text-align: start;
    }


}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
    .imgDesktop {
        display: block;
    }

    .imgMobile {
        display: none;
    }

    header {
        text-align: center;
        background-image: url(../images/desktop/headerbackground.png);
    }

    header, section, footer {
        padding: 4% 6%;
    }

    #section-1, #section-2, #section-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    #section-1, #section-3 {
        flex-flow: row nowrap;
    }

    #section-2 {
        flex-flow: row-reverse nowrap;
    }

    section img {
        width: 45vw;
    }

    /*======================= TEXT ======================*/
    .box-text {
        text-align: start;
        width: 28vw;
    }

    .box-text-title {
        width: 50vw;
    }

}

@media screen and (min-width: 1501px) {
    .imgDesktop {
        display: block;
    }

    .imgMobile {
        display: none;
    }

    header {
        text-align: center;
        background-image: url(../images/desktop/headerbackground.png);
    }

    header, section, footer {
        padding: 2% 6%;
    }

    #section-1, #section-2, #section-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    #section-1, #section-3 {
        flex-flow: row nowrap;
    }

    #section-2 {
        flex-flow: row-reverse nowrap;
    }

    section img {
        width: 45vw;
    }

    /*======================= TEXT ======================*/

    .box-text {
        text-align: start;
        width: 28vw;
    }

    .box-text-title {
        width: 50vw;
    }


}